*{
    /* background-color: #252525; */
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    color: #f1f1f1;
}
body{
    overflow-x: hidden;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff 
    url('../assets/gif.svg')
    no-repeat center;
    background-color: #252525;
    background-size: 150px 200px;
    z-index: 2;
}
/******* nav bar ******/

nav{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    display: inline;
    color: white;
    height: 65px;
    width: 65px;
    margin-left: 45px;
    position: relative;
    top: 15px;
}

nav a:first-child{
    margin-left:100px;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.nav-list>li{
    margin:10px;
    /* padding-right:15px; */
    margin-right: 20px;
    font-size: 1.4rem;
}
.nav-list>li>a{
    text-decoration: none;
    color:white;
    font-family: 'Jost', sans-serif;
    position:relative;
    display: inline-block;
}
.nav-list>li>a::before,
.nav-list>li>a::after{
    content:'';
    position:absolute;
    left: 0;
    width:100%;
    height:2px;
    background-color: #f8bf8c;
    transform: scaleX(0);
    transition: transform 0.25s ;
}
.nav-list>li>a::before{
    top:-3px;
    transform-origin: left;
}
.nav-list>li>a::after{
    bottom:-3px;
    transform-origin: right;
}
.nav-list>li>a:hover::before,
.nav-list>li>a:hover::after{
    transform:scaleX(1);
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f8bf8c;
}
.name{
    color:white;
    font-family: 'Jost', sans-serif;
    font-size: 48.7px;
    margin-left: 20px;  
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
}
.name>span{
    color:#f8bf8c;
    font-family: 'Freehand', cursive;
}
.input{
    background: none;
    border:1px solid #f8bf8c;
    margin-right: 20px;
    border-radius: 30px;
    padding:8.2px;
    padding-left: 30px;
}
.fa-search{
    position: relative;
    left:24px;
    z-index:999;
    opacity:0.4
}
nav img{
    color: white;
}



/***************profile-user-img************************/
#profile-user{
    background-color: #252525;
    padding-bottom: 30px;
}
.profile-user-img>img{
    height:12rem;
    width:12rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    border:3px solid rgb(222, 222, 222);
    
}
.profile-user-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.profile-user-name>h1{
    font-size: 3.5rem;
    font-weight: 200;
}
.follow-btn{
    background: none;
    padding:10px 20px;
    border:1px solid white;
    /* border-radius: 10px; */
    font-size: 20px;
    margin:10px auto 20px auto;
}
.follow-btn:hover{
    background-color: white;
    color:#252525;
    cursor: pointer;
}
.user-desc{
    width:50vw;
    text-align: center;
    font-size: 1.7rem;
}
.user-followers{
    display: flex;
    flex-direction: row;;
    align-items:center;
    justify-content:center;
}
.user-followers>div{
    margin:20px;
    font-size: 20px;
}
.count{
    border:1px solid #f8bf8c;
    padding:2px 3px;
    background: #f8bf8c;
    color:black;
    border-radius: 3px;  
    margin-bottom: 5px;
}
.count:hover{
    cursor:pointer;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* //SHOW FOLLOWERS AND FOLLOWINGS */
#follow-following{
    background: #252525;
    /* display: flex;
    flex-direction: row; */
}
#categories{
    /* margin-top: 50px; */
    width:50vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#categories h2{
    color: #252525;
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 3%;
}
#categories h2 span{
    color: #f8bf8c;
}
.category-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height:300px;
    width:80vw;
    overflow: scroll;
}
.category-wrap .cat{
    display: flex;
    flex-direction: column;
    padding: 1.5% 1.4%;
}

.cat .cat-img img{
    height:200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px #fdfdfd solid;
    transition:transform .75s;
}
.cat .cat-img img:hover{
    transform:scale(1.15);
}
.cat .cat-name{
    justify-content: center;
    text-align: center;
}
.cat .cat-name span{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    /* text-align: center; */
}

/******************* myblogs ****************/
.blog-header{
    color:black;
    font-size: 30px;
    margin:20px;
}
.blog-header>span{
    color:#ff9d47;
}   
.latest-cards{
    color:black;
    margin-left: 5%;
}
.author{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 12px;
    background-size: cover;
    position: relative;
    bottom: 95px;
    left: 8px;
}

/****** upper-body ******/

.upper-body{
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:30px;
    font-size: 5rem;
    padding:20px;
}

.upper-body-text>p>span{
    color:#f8bf8c;
}
.landing-btn{
    padding:15px 40px 15px 40px ;
    background: none;
    border:1px solid white;
    font-size: 25px;
    border-radius: 0px;
    background-color: #fffefd;
    transform-origin: left;
    color:black;
    border-radius: 40px ;
    /* transform: scaleX(0); */
    /* transition: transform 2s ; */
}
button:hover{
    background-color: #f8bf8c;
}


/****** Latest-body ******/

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  
  .scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
  }
  
  .child {
    width:400px;
    height: 350px;
    margin: 1px 10px;
    overflow: hidden;
    border-radius: 20px;
  }
  .cover {
    padding: 0px 30px;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .left {
    /* position: absolute; */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .scroll-btn{
    background:none;
    border:none;
  }
  .child>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:transform .75s;
}
.child>img:hover{
    transform:scale(1.15);
}
.latest-blog-div{
    height:0.1px;
    width:90vw;
    margin-left: 5vw;
    background-color:grey;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.check-latest-blog{
    margin:20px;
    font-size:20px;
    margin-left:5vw;    
}
.check-latest-blog>b{
    color:#f8bf8c;
}
.blog-details{
    display: flex;
    flex-direction: column;
    word-wrap:wrap;
    width:420px;
    margin:25px;
    /* border: #252525 1px solid; */
}
.desc{
    padding-left: 20px;
    font-size: 1.9rem;
    color: #252525;
}
.desc2{
    padding-left: 20px;
    font-size: 15px;
    color: #252525;
}
.desc2 div{
    font-size: 1rem;
    color: #252525;
}
.desc2 b,u{
    color: #252525;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 13px;
}
.tags>li{
    margin:3px;
    background-color: rgba(0,0,0,.3);
    padding:3px 9px;
    border-radius: 5.2px;
    color: white;

}
.tags li a{
    text-decoration: none;
}
.edit{
    display: flex;
    /* position: relative; */
    height:20px;
    width: 400px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* transform: translateX(-35px); */
}
.fa-regular{
    color: #252525;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
}
.fa-solid{
    color: #252525;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
}

.fa-regular:hover, .fa-solid:hover {
    color: #f8bf8c;
}

#latest-blog-section{
    background-color: #252525;
    margin:-8px;
    margin-bottom: 20px;
}


/******************* Recent-Blogs**************** */
.recent-wrap>h2{
    color:black;
    font-weight: 400;
    margin:10px 70px;
    font-size: 2rem;
    position:relative;
}
.recent-wrap>h2>span{
    color:#ffa556
}

.child-white{
    width:400px;
    height:350px;
    /* transform: translateX(-3vw); */
}   
.follow-cards{
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
    transform: translateX(-3vw);
}
.column{
    margin:20px;
    padding-left: 20px;
    /* padding:30px; */
    /* transform: translateX(-3vw); */
}

/******************STYLING HORIZONTAL SCROLL BAR*****************/
::-webkit-scrollbar {
    width: 3px;
  }
/* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f8bf8c;; 
  }
  ::-webkit-scrollbar:horizontal{
    height: 8px;
    background-color: red;
    border-radius: 100px;
    height:3px;
  }
  ::-webkit-scrollbar-thumb:horizontal{
    background: #f8bf8c;
    border-radius: 5px;
    position: fixed;
}
::-webkit-scrollbar-thumb:horizontal:hover{
    cursor: pointer;
}


/****************footer**************/

footer{
    background-color: #252525;
    margin: -8px;
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.subscribe > .subscribe-us {
    color: #f5f5f5;
    font-size: 3rem;
    position: relative;
    left: 4%;
    /* padding-left: 30px; */
    /* width: fit-content; */
}

.subscribe-input-btn {
    /* display: flex; */
    /* margin-left: 40%; */
    /* margin-right: 5%; */
    /* padding-left: 10px; */
    position: relative;
    right: 2%;
}
.subscribe-input{
    border: 2px solid #f8bf8c;
    border-radius: 20px;
    font-size: 20px;
    padding:10px;
}
.footer-btn{
    font-size: 1.3rem;
    background: none;
    border:1px solid #f8bf8c;
    padding:10px 15px;
    margin-left: 10px;
    border-radius: 20px;;
    color:white;
}
.footer-btn:hover{
    color:black;
    cursor: pointer;
    background-color: #f8bf8c;
}
.main-footer{
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.main-footer h3{
    color: #f5f5f5;
}
.footer-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.company-name{
    font-size: 4.5rem;
    transform: translateX(-1.4rem);
}
.footer-desc{
    color: #f5f5f5;
    font-size: 1.4rem;
}
.footer-column{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    
    font-size: 1rem;
}
.footer-links>ul{
    list-style: none; 
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
}
.footer-links>ul>li>a{
    color: #f5f5f5;
    text-decoration: none;
}
.rights{
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}


@media only screen and (max-width : 768px){
.container{
    width: 80vw;
}
.nav-list {
    position: fixed;
    left: -150%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-list.active {
    background-color: #252525;
    left: 0;
    overflow: hidden;
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 10px;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.fa-search{
    position: relative;
    margin-right: 200px;
    top: 26px;
}
}

@media only screen and (max-width: 991px) {
    .subscribe{
        flex-direction: column;
        align-items: flex-start;
    }
    .subscribe .subscribe-us{
        left: 1.5%;
        padding-bottom: 20px;
    }
    .subscribe-input-btn{
        left: 1.5%;
    }
    .main-footer{
        width: 100%;
    }
    .footer-name{
        width: 50%;
    }
    .footer-desc{
        position: relative;
        left: 10px;
        width: 90%;
    }
    .company-name {
        position: relative;
        left: 10px;
    }
}