<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Jost:wght@300;400&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Freehand&family=IBM+Plex+Sans:wght@300&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/all/min.css" />
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
  <title>Document</title>
</head>

<body>
  <div id="loading"></div>
  <!-- <progress value="0.12234353" max="1"></progress> -->
  <section id="Landing">
    <!-- creating the nav -->
    <nav>
      <div class="logo">
        <img src="../assets/High Resolution Logo - Transparent Background.png" alt="">
        <a href="#" class="name">Un<span>Fold</span> </a>
      </div>
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="../Homepage/index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="../search/index.html">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="../compose/texteditor.html">Compose</a></li>
        </ul>
      </div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    </nav>

    <main class="global-main">
      <!-- <progress class="post-progress" value="0.008" max="100"></progress> -->
      <!------------------ creating post header ------------------------->
      <article class="post-section">
        <section id="post-header">
          <div class="post-header-content">
            <div class="global-tags">
              <ul class="tags-link">
                <!-- <li><a href="#">Design</a></li>
                <li><a href="#">Idea</a></li>
                <li><a href="#">Review</a></li> -->
              </ul>
            </div>
            <div class="post-header-container">
              <div class="post-header-wrap">
                <div class="post-header-title">
                  
                </div>
                <div class="post-author">
                  <!-- <div class="author-img">
                    <img src="../assets/person1.jpg" alt="">
                  </div>
                  <div class="author-content">
                    <div class="author-name">
                      <span>Author</span>
                    </div>
                    <div class="published-date">
                      Published on <span>28th August, 2022</span>
                    </div>
                  </div> -->
                  </div>
              </div>
              <div class="post-header-img-container">
                  
              </div>
            </div>
    
          </div>
        </section>
        <!------------ blog description ------------- -->
        <section id="blog-description">
          <div class="blog-content-description" id="blog-content-description">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sit illum similique? Maxime quae est praesentium
            nesciunt, dolorem veniam quidem repudiandae molestiae, modi ipsa neque beatae consequatur libero et corporis repellat.
            Ratione quisquam modi saepe. Eaque saepe quidem nam sapiente quo harum quia sint, quaerat ad deserunt necessitatibus
            quos ipsam iusto fugit voluptas tempore vitae optio aliquid cumque laborum. Ea dolore maiores tempore et, molestias
            obcaecati nemo! Rerum sit architecto inventore sint reprehenderit tempore quibusdam atque veritatis voluptas harum animi
            iste, alias facilis veniam optio necessitatibus numquam cupiditate expedita debitis unde nam aperiam iusto! Corporis
            iusto architecto ullam corrupti incidunt quis recusandae tempore similique! Dolore, voluptatibus ducimus! Dicta ipsum
            soluta dolorum pariatur culpa aut, nam, minima suscipit, delectus voluptates mollitia minus velit repellat fugiat natus
            perspiciatis ratione? Pariatur cum possimus ea reprehenderit facilis odit soluta quaerat, molestias labore porro, quia
            magni inventore suscipit ab numquam unde vero iure fugiat est consequatur, animi eum obcaecati quis ipsa! Dolorum
            aliquam quam ipsa excepturi ad eos ea accusantium. Nemo accusamus ab incidunt atque inventore temporibus ratione, fuga,
            porro similique, est natus eius unde quisquam dolores eveniet? Iure nisi repudiandae quisquam recusandae ex natus at
            voluptatem aut soluta laboriosam? Eum consectetur iure rerum reiciendis! -->
            <section class="reactions" id="reactions-id">
              <div class="like">
                <i class="fa-regular fa-heart" 
                 id="heart"></i>
                 <div class="likes_count" id="likes-section">0 Likes</div>
              </div>
              <div class="comment">
                <i class="fa-regular fa-comment"></i>
                <div class="comments_count">0 Comments</div>
              </div>
            </section>
          </div>

          <div id="all_comments">
          <div>
            <div class="comment_input">
                Add a Comment:   
                <input type="text" id="textbox_id" required>
                <button type="button" id="commbtn" >Comment</button>
              </div>
            </div>
          </div>
          <!-- <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div>
                  </div>
                  </div>
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                  <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </div>
              </div>
            </div>
          </section> -->
                </section>

        
                <div class="partition">
                  
                </div>


        <section id="you-might-like-section">
          <div class="check-blogs-you-may-like">
            Other posts by <strong style="color:#f8bf8c;" id="strong123"></strong> ....
          </div>
          <div class="cover">
            <!-- <button class="left scroll-btn" onclick="leftScroll()"><</button> -->
            <div class="scroll-images">
              <div class="cover">
                <div class="scroll-images" id="scroll-images">
                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="right scroll-btn" onclick="rightScroll()">></button> -->
          </div>
        </section>

      </article>
    </main>
    
   


    <!----------------------- footer------------------------- -->
    <footer>
      <div class="subscribe">
        <div class="subscribe-us">
          Subscribe to <span style="color: #f8bf8c;">New Posts </span>!
        </div>
        <div class="subscribe-input-btn">
          <input placeholder="Your email address" class="subscribe-input" type="text" style="color:black">
          <button class="footer-btn">Subscribe</button>
        </div>
      </div>
      <div class="main-footer">
        <div class="footer-name">
          <div class="name company-name">Un<span>Fold</span></div>
          <div class="footer-desc">Unfold your ideas,experiences and knowledge here.</div>
        </div>
        <div class="footer-column">
          <div class="footer-heading">
            <h3>Company</h3>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-heading">
            <h3>Help</h3>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Payment Options</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-heading">
            <h3>Follow Us</h3>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Youtube</a></li>
              <li><a href="#">Pinterest</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-heading">
            <h3>Download App</h3>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">Play Store</a></li>
              <li><a href="#">App Store</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="rights">
        &#169; UnFold-all right reserved
      </div>
    </footer>

    <!-- script file included -->

<script src="index.js" type="module"></script>
</body>
<script src="../currentuser.js" type="module"></script>
</html>