*{  
    color:white;
    font-family: 'Jost', sans-serif;
}
#Landing{
    margin: -8px;
    overflow-x: hidden;
    /* padding:0; */
    background: #252525;
    height:100vh;
}
b{
    color: black;
}
/******* nav bar ******/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    display: inline;
    color: white;
    height: 65px;
    width: 65px;
    margin-left: 45px;
    position: relative;
    top: 15px;
}

nav a:first-child{
    margin-left:100px;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.nav-list>li{
    margin:10px;
    /* padding-right:15px; */
    margin-right: 20px;
    font-size: 1.4rem;
}
.nav-list>li>a{
    text-decoration: none;
    color:white;
    font-family: 'Jost', sans-serif;
    position:relative;
    display: inline-block;
}
.nav-list>li>a::before,
.nav-list>li>a::after{
    content:'';
    position:absolute;
    left: 0;
    width:100%;
    height:2px;
    background-color: #f8bf8c;
    transform: scaleX(0);
    transition: transform 0.25s ;
}
.nav-list>li>a::before{
    top:-3px;
    transform-origin: left;
}
.nav-list>li>a::after{
    bottom:-3px;
    transform-origin: right;
}
.nav-list>li>a:hover::before,
.nav-list>li>a:hover::after{
    transform:scaleX(1);
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f8bf8c;
}
.name{
    color:white;
    font-family: 'Jost', sans-serif;
    font-size: 48.7px;
    margin-left: 20px;  
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
}
.name>span{
    color:#f8bf8c;
    font-family: 'Freehand', cursive;
}
.input{
    background: none;
    border:1px solid #f8bf8c;
    margin-right: 20px;
    border-radius: 30px;
    padding:8.2px;
    padding-left: 30px;
}
.fa-search{
    position: relative;
    left:24px;
    z-index:999;
    opacity:0.4
}
nav img{
    color: white;
}

/****** upper-body ******/

.upper-body{
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:30px;
    font-size: 5rem;
    padding:20px;
}

.upper-body-text>p>span{
    color:#f8bf8c;
}
.landing-btn{
    padding:15px 40px 15px 40px ;
    background: none;
    border:1px solid white;
    font-size: 25px;
    border-radius: 0px;
    background-color: #fffefd;
    transform-origin: left;
    color:black;
    border-radius: 40px ;
    /* transform: scaleX(0); */
    /* transition: transform 2s ; */
}
button:hover{
    background-color: #f8bf8c;
}
/********************** progress bar ******************** */
/* .post-progress, .post-progress[value]::-webkit-progress-bar {

    background-color: transparent;
}
.post-progress {
    position: fixed;
    z-index: 90;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 8px;
    transition: opacity .15s ease-out .3s;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
progress {
    vertical-align: baseline;
}progress {
    position:fixed;
    top:15px;
} */

/********************* Post header ********************* */
.post-header-content{
    margin-top:5%;
    margin-bottom: 5%;
}
.tags-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 4%;
    margin-top: 2%;
}
.tags-link>li{
    margin:3px;
    background-color: rgba(0,0,0,.3);
    padding:3px 9px;
    border-radius: 5.2px;

}
.tags-link>li>a{
    text-decoration: none;
}
.post-header-title>h1{
    font-size: 3.3rem;
    font-family: 'Bona Nova';
    margin: 0;
    /* margin-left: 5%; */
}

.post-header-wrap{
    width: 55vw;
}
.post-header-container{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    justify-content: space-around;
}
.post-header-img-container{
    width: 30%;
    /* margin-top: 5%; */
    width: 500px;
}
.post-header-img-container>img{
    height: 400px;
    width: 375px;
    border-radius: 15px;
}
.post-author{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.post-author .author-img img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.post-author .author-content{
    display: flex;
    flex-direction: column;
}
.post-author .author-name{
    /* margin-top: 15px; */
    margin-left: 15px;
    font-size: 1.5rem;
}
.post-author .author-name span{
    font-size: 1.5rem;
    color: #f8bf8c;
}
.post-author .author-content .published-date{
    /* margin-top: 15px; */
    margin-left: 15px;
    font-size: 1rem;
    color: #f5f5f5
} 
/* .post-author .author-content .published-date span{
    font-size: 1rem;
} */

/* blog description  */
#blog-description{
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    color: black;
}
.blog-content-description{
    background-color: #f5f5f5;
    padding: 2% 15% 10%;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 400;
    color: #252525;
    /* margin-bottom: 25%; */
}
.blog-content-description>ul>li{
    color: black;
}
.blog-content-description>p{
    color: black;
}
.blog-content-description>.desc-img-container{
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: 5% auto;
}
.blog-content-description>.desc-img-container>img{
    width: 60vw;
    border-radius: 8%;
}
.blog-content-description>h1{
    color: black;
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Bona Nova', serif;
    margin: 65px 0;
    font-weight: 700;
    padding: 0 10%;
}
.reactions{
    display: flex;
    flex-direction: row;
    margin: 2% auto;
}
.reactions .like{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.likes_count{
    color:black;
}
.reactions .comment{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comments_count{
    color:black;
}
.reactions .fa-regular{
    color: #252525;
}
.reactions .like .fa-solid{
    color: #f8bf8c;
}
.reactions>div>i>p{
    color: black;
}
.container {
	max-width: 680px;
	margin: 30px auto;
    margin-top: -150px;
	background:none;
	border-radius: 8px;
	padding: 60px;
    padding-right: 80px;
    color:#f8bf8c
}

.comment {
	display: block;
	transition: all 1s;
}

.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

textarea {
	width: 100%;
	/* border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid ;
	margin-top: 15px; */
}

button.primaryContained {
	background: #ffad65;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 10px;
	border-radius: 5px;
}
.user-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40vw;
    width:30vw
}
.comment-partition{
    height:10px;
    text-align: center;
    width:80vw;
    color:rgb(0, 0, 0)
}
.comments-container{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    /* text-align: left; */
    /* justify-content: center; */
    margin-bottom:auto;
    margin-left: 10%;
    width: 70vw;
}
.comments-container>div>img{
    height:40px;
    width:40px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
    margin-bottom: 75%;
}
.comments-container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comments-container div strong{
    color:black;
}
.comments-container>div>p{
    color:black;
    /* height:auto; */
}

/****** You might like section ******/

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  
  .scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
  }
  
  .img-container {
    width: 300px;
    height: 350px;
    margin: 1px 10px;
    overflow: hidden;
    border-radius: 20px;
  }
  .cover {
    padding: 0px 30px;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .scroll-btn{
    background:none;
    border:none;
  }
  .img-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:transform .75s;
}
.img-container>img:hover{
    transform:scale(1.15);
}
.you-might-like-div{
    height:0.1px;
    width:90vw;
    margin-left: 5vw;
    background-color:grey;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.check-blogs-you-may-like{
    margin:20px;
    font-size:1.5rem;
    margin-left:5vw;    
}

.blog-details{
    display: flex;
    flex-direction: column;
    word-wrap:wrap;
    width:350px;
}
.blog-title{
    font-family: 'Bona Nova', serif;
    padding-left: 20px;
    font-size: 30px;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 13px;
}
.tags>li{
    margin:3px;
    background-color: rgba(0,0,0,.3);
    padding:3px 9px;
    border-radius: 5.2px;

}
.fa-regular{
    margin-left: 82.5px;
    cursor: pointer;
    user-select: none;
}
.fa-solid{
    margin-left: 82.5px;
    cursor: pointer;
    user-select: none;
}
.fa-regular:hover,.fa-solid:hover{
    color: #f8bf8c;
}
#you-might-like-section{
    background-color: #252525;
    margin:-8px;
    margin-bottom: 20px;
}


/******************STYLING HORIZONTAL SCROLL BAR*****************/
::-webkit-scrollbar {
    width: 3px;
  }
/* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f8bf8c;; 
  }
  ::-webkit-scrollbar:horizontal{
    height: 8px;
    background-color: red;
    border-radius: 100px;
    height:3px;
  }
  ::-webkit-scrollbar-thumb:horizontal{
    background: #f8bf8c;
    border-radius: 5px;
    position: fixed;
}
::-webkit-scrollbar-thumb:horizontal:hover{
    cursor: pointer;
}

/****************footer**************/

footer{
    background-color: #252525;
    margin: -8px;
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.subscribe > .subscribe-us {
    display: block;
    font-size: 3rem;
    padding-left: 30px;
    width: fit-content;
}

.subscribe-input-btn {
    display: flex;
    margin-left: 40%;
    margin-right: 5%;
    padding-left: 10px;
}
.subscribe-input{
    border: 2px solid #f8bf8c;
    border-radius: 20px;
    font-size: 20px;
    padding:10px;
}
.footer-btn{
    font-size: 1.3rem;
    background: none;
    border:1px solid #f8bf8c;
    padding:10px 15px;
    margin-left: 10px;
    border-radius: 20px;;
    color:white;
}
.footer-btn:hover{
    color:black;
    cursor: pointer;
}
.main-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.footer-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.company-name{
    font-size: 4.5rem;
    transform: translateX(-1.4rem);
}
.footer-desc{
    font-size: 1.4rem;
}
.footer-column{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    
    font-size: 1rem;
}
.footer-links>ul{
    list-style: none; 
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
}
.footer-links>ul>li>a{
    text-decoration: none;
}
.rights{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}



@media only screen and (max-width: 768px) {
    .nav-list {
        position: fixed;
        left: -150%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-list.active {
        background-color: #252525;
        left: 0;
        overflow: hidden;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .fa-search{
        position: relative;
        margin-right: 200px;
        top: 26px;
    }


    .post-header-wrap{
        width: 100vw;
    }
    .post-header-container{
        flex-direction: column;
    }
    .post-header-img-container{
        width: 100%;
    }
    .post-header-img-container img{
        display: block;
        width: 70vw;
        object-fit: cover;
        margin: 0 auto;
    }
    .blog-content-description>.desc-img-container>img{
        width: 70vw;
        height: 60vh;
        border-radius: 5%;
    }
    .blog-content-description{
        padding: -10% 12%;
        font-size: 1.3rem;
    }

    .blog-content-description>h1{
        color: black;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Bona Nova', serif;
        padding: 0 5%;
    }
    .cover {
        padding: 0 10px;
    }
    .tags-link{
        padding-left: 10px;
    }
}

@media only screen and (max-width: 768px) {
    


}