*{
    color:white;
    font-family: 'Jost', sans-serif;
}
#Landing{
    margin: -8px;
    overflow-x: hidden;
    /* padding:0; */
    background: #252525;
    height:100vh;
}

/******* nav bar ******/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    display: inline;
    color: white;
    height: 65px;
    width: 65px;
    margin-left: 45px;
    position: relative;
    top: 15px;
}

nav a:first-child{
    margin-left:100px;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.nav-list>li{
    margin:10px;
    /* padding-right:15px; */
    margin-right: 20px;
    font-size: 1.4rem;
}
.nav-list>li>a{
    text-decoration: none;
    color:white;
    font-family: 'Jost', sans-serif;
    position:relative;
    display: inline-block;
}
.nav-list>li>a::before,
.nav-list>li>a::after{
    content:'';
    position:absolute;
    left: 0;
    width:100%;
    height:2px;
    background-color: #f8bf8c;
    transform: scaleX(0);
    transition: transform 0.25s ;
}
.nav-list>li>a::before{
    top:-3px;
    transform-origin: left;
}
.nav-list>li>a::after{
    bottom:-3px;
    transform-origin: right;
}
.nav-list>li>a:hover::before,
.nav-list>li>a:hover::after{
    transform:scaleX(1);
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f8bf8c;
}
.name{
    color:white;
    font-family: 'Jost', sans-serif;
    font-size: 48.7px;
    margin-left: 20px;  
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
}
.name>span{
    color:#f8bf8c;
    font-family: 'Freehand', cursive;
}
.input{
    background: none;
    border:1px solid #f8bf8c;
    margin-right: 20px;
    border-radius: 30px;
    padding:8.2px;
    padding-left: 30px;
}
.fa-search{
    position: relative;
    left:24px;
    z-index:999;
    opacity:0.4
}
nav img{
    color: white;
}

/****** upper-body ******/

.upper-body{
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:30px;
    font-size: 5rem;
    padding:20px;
}

.upper-body-text>p>span{
    color:#f8bf8c;
}
.landing-btn{
    padding:15px 40px 15px 40px ;
    background: none;
    border:1px solid white;
    font-size: 25px;
    border-radius: 0px;
    background-color: #f5f5f5;
    transform-origin: left;
    color:black;
    border-radius: 40px ;
    /* transform: scaleX(0); */
    /* transition: transform 2s ; */
}
button:hover{
    background-color: #f8bf8c;
}


/****** Latest-body ******/

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  
  .scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
  }

  .child {
    width:400px;
    height:350px;
    margin: 1px 0px;
    overflow: hidden;
    border-radius: 20px;
  }
  .cover {
    padding: 0px 30px;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .scroll-btn{
    background:none;
    border:none;
  }
  .child>img{
    width: 400px;
    height: 100%;
    object-fit: cover;
    transition:transform .75s;
}
.child>img:hover{
    transform:scale(1.15);
}
.latest-blog-div{
    height:0.1px;
    width:90vw;
    margin-left: 5vw;
    background-color:grey;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.check-latest-blog{
    margin:20px;
    font-size:20px;
    margin-left:5vw;    
}
.check-latest-blog>b{
    color:#f8bf8c;
}
.blog-details{
    display: flex;
    flex-direction: column;
    word-wrap:wrap;
    width:450px;
}
.desc{
    padding-left: 20px;
    font-size: 30px;
}
.desc2{
    padding-left: 20px;
    font-size: 15px;
}
.tags{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 13px;
}
.tags>li{
    margin:3px;
    background-color: rgba(0,0,0,.3);
    padding:3px 9px;
    border-radius: 5.2px;
    /* text-decoration: none; */
}
.tags li a {
    text-decoration: none;
}
#latest-blog-section{
    background-color: #252525;
    margin:-8px;
    margin-bottom: 20px;
}
.author{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 12px;
    transform: translate(7px,-125px);
    background-size: cover;
}
.bookmark{
    display: flex;
    position: absolute;
    height:20px;
    width: 399px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(-35px);
}
.fa-regular{
    position: inherit;
    left: 100%;
    right: 0;
    /* float: right; */
    /* margin-left: 125px; */
    cursor: pointer;
    user-select: none;
}
.fa-solid{
    position: inherit;
    left: 100%;
    right: 0;
    /* float: right; */
    /* margin-left: 125px; */
    cursor: pointer;
    user-select: none;
}
.tags .fa-regular{
    float: right;

}
.fa-regular:hover, .fa-solid:hover {
    color: #f8bf8c;
}

/**************** Categories names  *******************/
#categories{
    margin-top: 50px;
    margin-bottom: 50px;
}
#categories h2{
    color: #252525;
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 3%;
}
#categories h2 span{
    color: #f8bf8c;
}
.category-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.category-wrap .cat{
    display: flex;
    flex-direction: column;
    padding: 1.5% 1.4%;
    
}

.cat .cat-img img{
    height:200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px #252525 solid;
    transition:transform .75s;
}
.cat .cat-img img:hover{
    transform:scale(1.15);
}
.cat .cat-name{
    justify-content: center;
    text-align: center;
}
.cat .cat-name span{
    color: #252525;
    font-size: 1.4rem;
    font-weight: 500;
    /* text-align: center; */
}


/******************* Recent-Blogs**************** */

/* #recent{
    /* height:100vh; */
    /* background-color: #e5e5e5; 
} */
.recent-wrap>h2{
    color:black;
    font-weight: 400;
    margin:10px 50px;
    font-size: 2rem;
}
.recent-wrap>h2>span{
    color:#ffa556
}
.desc-white{
    color:black;
    font-weight: 500;
}
.desc2-white{
    color:black;
}
.follow-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    /* margin-left: 40px; */
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#recent .bookmark .fa-regular{
    color: black;
}
#recent .bookmark .fa-solid{
    color: black;
    
}


/******************STYLING HORIZONTAL SCROLL BAR*****************/
::-webkit-scrollbar {
    width: 3px;
  }
/* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f8bf8c;; 
  }
  ::-webkit-scrollbar:horizontal{
    height: 8px;
    background-color: red;
    border-radius: 100px;
    height:3px;
  }
  ::-webkit-scrollbar-thumb:horizontal{
    background: #f8bf8c;
    border-radius: 5px;
    position: fixed;
}
::-webkit-scrollbar-thumb:horizontal:hover{
    cursor: pointer;
}

/****************footer**************/

footer{
    background-color: #252525;
    margin: -8px;
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.subscribe>div{
    font-size: 3rem;
    padding-left: 0;
    
}
.subscribe-input-btn{
    display: flex;
}
.subscribe-input{
    border-radius: 20px;
    font-size: 20px;
    padding:10px
}
.footer-btn{
    font-size: 1.3rem;
    background: none;
    border:1px solid #f8bf8c;
    padding:10px;
    border-radius: 20px;;
    color:white;
}
.footer-btn:hover{
    color:black;
    cursor: pointer;
}
.main-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.footer-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.company-name{
    font-size: 4.5rem;
    transform: translateX(-1.4rem);
}
.footer-desc{
    font-size: 1.4rem;
}
.footer-column{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    
    font-size: 1rem;
}
.footer-links>ul{
    list-style: none; 
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
}
.footer-links>ul>li>a{
    text-decoration: none;
}
.rights{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

/* media queries  */
@media only screen and (max-width: 768px) {
    .nav-list {
        position: fixed;
        left: -150%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-list.active {
        background-color: #252525;
        left: 0;
        overflow: hidden;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .fa-search{
        position: relative;
        margin-right: 200px;
        top: 26px;
    }


}